body {
	margin:0; 
	padding:0;
	background-color: black;
}

#links {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	z-index: 1;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: transparent;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: transparent;
	color: #e6b800;
}

#map {
	position:absolute;
	top:0; bottom:0; width:100%; 
}

input {
	font-family: 'Montserrat', sans-serif;
}

#cmap1 {
	position:absolute;
	top:0; bottom:0; left:0px; width:49%;
	display: none;
	z-index: 1;
}

#cmap2 {
	position:absolute;
	top:0; bottom:0; right: 0px; width:49%;
	display: none;
}

table {
	position: absolute;
	width: 100%;
	bottom: 15%;
	z-index: 5;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.td1 {
	width: 25%;
	text-align:center;
}

.td2 {
	width: 40%;
	text-decoration-line: underline;
	text-align:center;
}

.td3 {
	width: 25%;
	text-align:center;
}












